{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'problems/css/modal_carousel.css' %}">
{% endblock %}

{% block main %}
<div class="container">
    <div class="card">
        <div class="card-header">{{ problem }}</div>
        <div class="card-body">
            <ul>
                <li>На оборудовании: <b>"{{ problem.equipment }}"</b></li>
                <li>Время обнаружения: <b>{{ problem.time_create }}</b></li>
                <li>Описание проблемы: <b>{{ problem.problem_description }}</b></li>

                {% if problem.images.exists %}
                <li>Фото:</li>
            </ul>
            <div class="row align-items-center">

                {% for image in problem.images.all %}
                <div class="col-12 col-sm-6 col-lg-2">
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="{{ forloop.counter0 }}">
                        <div class="card">
                            {% if forloop.first %}
                            <img src="{{ image.image.url }}" alt="Изображение {{ forloop.counter }}">
                            {% else %}
                            <img src="{{ image.image.url }}" alt="Изображение {{ forloop.counter }}"
                                 class="d-block w-100">
                            {% endif %}
                        </div>
                    </a>
                </div>

                {% endfor %}

            </div>
            {% endif %}

        </div>
    </div>
</div>
{% if problem.images.exists %}
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner overflow-hidden">

                    {% for image in problem.images.all %}
                    {% if forloop.first %}
                    <div class="carousel-item active" data-bs-interval="false">
                        <img src="{{ image.image.url }}" alt="Изображение {{ forloop.counter }}">
                    </div>
                    {% else %}
                    <div class="carousel-item" data-bs-interval="false">
                        <img src="{{ image.image.url }}" class="d-block w-100"
                             alt="Изображение {{ forloop.counter }}">
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'problems/js/modal_carousel.js' %}"></script>
{% endblock %}
