{% extends 'base.html' %}

{% block main %}

<div class="container">
    <h1>{{ title }}:</h1>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <div>{{ form.non_field_errors }}</div>

        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>

{% endblock %}